Package: com.chr1s.cleanlock
Name: cleanLock
Version: 1.0.1
Architecture: iphoneos-arm
Description: Minimalistic lockscreen
Maintainer: Chr1s
Author: Chr1s
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
